---
import Container from "../components/shared/Container.astro";
import Navitem from "../components/shared/Navitem.astro";
import BtnLink from "../components/shared/BtnLink.astro";
import BtnThemeSwitch from "../components/shared/BtnThemeSwitch.astro";

const navItems = [
  {
    href: "#",
    text: "",
  },
  // {
  //   href: "#hero",
  //   text: "Hero",
  // },
  {
    href: "#services",
    text: "",
  },
  {
    href: "#innovations",
    text: "",
  },
  {
    href: "#testimonials",
    text: "",
  },
  {
    href: "#environment",
    text: "",
  },
  {
    href: "#projects",
    text: "",
  },
];
---

<header class="absolute inset-x-0 top-0 z-50 py-5 px-5">
  <!-- <Container> -->
  <nav class="w-full flex justify-between gap-6 relative">
    <!-- logo -->
    <div class="min-w-max inline-flex relative">
      <!-- LOGO -->
      <a href="https://www.telemetrik.com.co" target="_blank" class="relative flex items-center gap-3">
        <div class="relative h-auto overflow-hidden flex rounded-xl">
          <svg
            class="fill-primary"
            id="Layer_1"
            width="100%"
            height="100%"
            viewBox="0 0 2000 600"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              class="ccustom"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M126.000000,85.127594 C126.079788,83.194107 126.159584,81.746620 126.246635,80.167419 C179.838104,80.167419 233.104584,80.167419 286.685577,80.167419 C286.685577,92.330833 286.685577,104.389160 286.685577,116.940781 C267.591248,116.940781 248.529205,116.940781 229.007217,116.940781 C229.007217,195.820099 229.007217,274.210449 229.007217,353.006775 C218.425781,352.974609 209.362701,349.907959 201.392548,343.831421 C189.544540,334.798309 184.051041,322.488464 184.032578,307.791290 C183.955322,246.304688 184.000000,184.817917 184.000000,123.331215 C184.000000,121.370255 184.000000,119.409294 184.000000,117.155106 C164.627274,117.155106 145.686325,117.155106 126.000000,117.155106 C126.000000,106.443680 126.000000,96.028641 126.000000,85.127594 z"
            ></path><path
              class="ccustom"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M268.266418,226.388336 C279.006287,193.882462 300.904175,173.162994 333.269470,164.584244 C356.027893,158.551910 379.060608,160.000671 400.598724,170.376511 C425.518066,182.381226 440.248566,202.958527 445.779877,229.677277 C448.390198,242.286285 448.731628,255.365005 450.162415,268.806885 C400.987305,268.806885 353.250763,268.806885 305.589783,268.806885 C306.788879,282.023682 311.965027,293.205383 320.915680,302.173645 C328.596161,309.869232 338.122314,314.993439 349.015106,316.978546 C368.481934,320.526154 386.289856,316.560669 402.347504,304.927704 C406.167084,302.160614 409.699677,298.782776 413.888855,296.787048 C421.675629,293.077362 429.108154,294.566620 435.717865,300.191650 C439.080200,303.053131 442.418640,305.999207 446.086395,308.425629 C448.596588,310.086273 448.495789,311.438080 446.971527,313.524811 C430.209442,336.472321 407.840881,351.195343 379.932983,355.698120 C353.401764,359.978790 327.729034,356.211060 304.532532,341.188232 C283.657806,327.668976 271.551910,308.169006 266.082031,284.374390 C261.644775,265.071777 262.520264,245.786880 268.266418,226.388336 M316.429321,218.077713 C313.043915,224.073807 309.658478,230.069901 305.915131,236.699982 C340.151093,236.699982 372.984314,236.699982 405.869354,236.699982 C400.531311,206.658539 373.382019,194.799973 347.994629,199.413025 C335.331757,201.713959 325.351288,208.193329 316.429321,218.077713 z"
            ></path><path
              class="ccustom"
              d="M481.000000,298.000000 C481.000000,225.234375 481.000000,152.968735 481.000000,80.351654 C495.915466,80.351654 510.635071,80.351654 525.678650,80.351654 C525.678650,170.940338 525.678650,261.618256 525.678650,352.648254 C511.084747,352.648254 496.365082,352.648254 481.000000,352.648254 C481.000000,334.662903 481.000000,316.581451 481.000000,298.000000 z"></path><path
              class="ccustom"
              d="M708.419922,295.026489 C718.077332,293.941650 724.615234,299.119019 731.048889,304.543304 C733.414246,306.537598 735.789062,308.520721 738.450562,310.753052 C721.374756,334.054352 700.167847,350.066925 671.345276,355.136292 C651.667114,358.597290 632.486206,357.490234 613.721008,350.953094 C593.177612,343.796631 577.382935,330.589508 566.386047,311.798615 C559.318420,299.721954 555.483276,286.707825 553.824585,272.716370 C551.260376,251.087219 554.216858,230.416290 564.137756,211.290497 C576.887146,186.711838 597.034119,170.226089 624.284851,164.200592 C652.068542,158.057236 678.721069,161.197418 702.773376,177.945709 C718.786499,189.096085 728.434875,204.736221 733.783813,223.022171 C736.140930,231.080276 736.807129,239.657547 737.940430,248.039734 C738.600830,252.924438 738.608337,257.894379 739.017090,262.817017 C739.391785,267.329803 737.905151,269.134460 732.913635,269.112488 C688.921082,268.918488 644.927368,269.000000 600.933960,269.000000 C599.118652,269.000000 597.303406,269.000000 595.058716,269.000000 C597.028931,283.987518 603.167480,296.425262 614.577942,305.780182 C627.723267,316.557434 643.413513,319.495850 659.840515,317.863037 C673.613831,316.493988 685.537292,310.332794 696.220581,301.480164 C699.598938,298.680695 704.033020,297.155273 708.419922,295.026489 M600.462830,227.036545 C599.179871,230.129745 597.896912,233.222946 596.450378,236.710663 C630.078125,236.710663 662.919556,236.710663 695.961243,236.710663 C695.584900,235.313370 695.336609,234.222183 694.997803,233.159882 C692.152649,224.240631 688.251038,216.025299 680.719543,209.920044 C669.368225,200.718399 656.553101,197.257538 642.079468,198.955917 C623.612183,201.122940 609.762329,209.960281 600.462830,227.036545 z"
            ></path><path
              class="ccustom"
              d="M1027.999634,226.153748 C1028.000000,268.508942 1028.000000,310.407257 1028.000000,352.654053 C1014.068420,352.654053 999.344849,352.654053 984.000000,352.654053 C984.000000,350.956787 984.000000,349.191650 984.000000,347.426483 C984.000000,310.606201 984.268738,273.782166 983.753845,236.969086 C983.660400,230.289581 981.016541,223.382492 978.398621,217.057068 C973.151672,204.379517 955.506104,200.408401 943.849792,204.549408 C932.085510,208.728745 926.331055,217.616180 924.090027,229.188385 C923.221558,233.672791 923.055237,238.346542 923.044434,242.935150 C922.963074,277.589325 923.000000,312.243774 923.000000,346.898163 C923.000000,348.712280 923.000000,350.526367 923.000000,352.669495 C908.036743,352.669495 893.313538,352.669495 878.000000,352.669495 C878.000000,350.921539 878.000000,349.152161 878.000000,347.382812 C878.000000,311.228973 878.099365,275.074615 877.916931,238.921677 C877.880066,231.612045 875.937317,224.674545 872.645569,217.892532 C866.491943,205.214081 849.632690,200.283173 837.174744,204.376236 C826.122437,208.007477 820.481812,216.436172 818.109009,227.215012 C817.130493,231.659912 817.054749,236.364349 817.044250,240.951843 C816.963684,276.272461 817.000000,311.593353 817.000000,346.914154 C817.000000,348.726746 817.000000,350.539368 817.000000,352.675140 C802.025085,352.675140 787.301880,352.675140 772.216553,352.675140 C772.144836,351.083374 772.009644,349.475037 772.009155,347.866638 C771.997314,309.546875 771.630371,271.221741 772.188843,232.910141 C772.400879,218.366943 776.120483,204.268478 783.914551,191.572906 C793.091370,176.625046 806.338135,167.229401 823.290405,163.410797 C845.315430,158.449509 866.620300,160.159271 885.819580,173.118118 C891.220703,176.763672 895.526611,182.031769 900.434814,186.649673 C911.553650,171.495880 927.116699,164.120392 946.044128,161.789246 C962.194519,159.800140 977.432373,161.966736 991.922302,168.615021 C1003.353882,173.860062 1011.784668,182.825775 1017.978821,193.820999 C1023.570374,203.746582 1026.473022,214.501465 1027.999634,226.153748 z"
            ></path><path
              class="ccustom"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M1145.999634,162.000000 C1160.127563,160.508911 1173.603638,161.875809 1186.501465,166.320862 C1216.636597,176.706482 1234.966187,198.217880 1241.761719,228.974823 C1244.577026,241.716644 1244.765869,255.038742 1246.216675,268.733856 C1197.472778,268.733856 1150.079834,268.733856 1102.166504,268.733856 C1101.570312,277.198151 1104.656860,284.334320 1108.484985,290.674713 C1121.888306,312.874725 1142.724976,320.428284 1167.466919,317.792145 C1180.613403,316.391418 1192.300903,310.677338 1202.186279,301.420746 C1211.944336,292.283356 1223.765869,292.821014 1234.743408,302.227692 C1237.967651,304.990631 1241.301636,307.625549 1245.541016,311.103088 C1239.068848,318.188873 1233.172729,325.954590 1225.977905,332.231720 C1213.343872,343.254120 1198.583862,350.757080 1182.095703,354.429810 C1165.828369,358.053375 1149.509033,358.024719 1133.194214,354.616486 C1120.132080,351.887817 1108.213257,346.626831 1097.330811,338.871368 C1079.542236,326.194336 1068.856934,308.813110 1062.975830,288.086060 C1059.072754,274.329681 1058.996094,260.166229 1060.275269,246.293396 C1062.035645,227.201767 1069.251587,209.916489 1081.582520,194.755219 C1095.542236,177.591324 1113.778442,168.131866 1134.783691,163.169495 C1138.264771,162.347092 1141.945312,162.368530 1145.999634,162.000000 M1124.500122,237.000000 C1150.252930,237.000000 1176.005737,237.000000 1201.813110,237.000000 C1199.549194,219.886429 1187.175049,199.871002 1155.393921,198.266525 C1143.158569,197.648834 1131.129761,201.391846 1121.339844,209.400208 C1112.596436,216.552597 1105.949585,225.406906 1103.424072,237.000000 C1110.201660,237.000000 1116.850952,237.000000 1124.500122,237.000000 z"
            ></path><path
              class="ccustom"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M1333.460327,164.551392 C1340.955322,164.885300 1348.108032,164.885300 1355.629883,164.885300 C1355.629883,178.546005 1355.629883,191.935181 1355.629883,205.817734 C1348.389526,205.817734 1340.988525,205.817734 1333.133545,205.817734 C1333.133545,255.011826 1333.133545,303.719238 1333.133545,352.712280 C1317.951538,352.712280 1303.231445,352.712280 1288.500000,352.712280 C1288.500000,303.947449 1288.500000,255.291611 1288.500000,206.145203 C1281.350464,206.145203 1273.950073,206.145203 1266.280518,206.145203 C1266.280518,192.269547 1266.280518,178.882294 1266.280518,165.179749 C1273.677368,165.179749 1280.953979,165.179749 1289.000000,165.179749 C1289.000000,156.978790 1289.225220,149.059464 1288.950439,141.157516 C1288.460693,127.079414 1298.949585,112.217133 1312.905396,107.539696 C1319.333740,105.385208 1325.718994,103.102364 1333.118042,100.532372 C1333.118042,122.165962 1333.118042,143.191727 1333.460327,164.551392 z"
            ></path><path
              class="ccustom"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M1385.993896,218.828796 C1387.362305,200.182831 1392.793823,183.832474 1409.571899,174.278931 C1416.588379,170.283752 1424.817261,167.195236 1432.775024,166.358032 C1445.196289,165.051239 1457.856079,166.012024 1470.708984,166.012024 C1470.708984,178.709671 1470.708984,192.098068 1470.708984,206.000000 C1463.505859,206.000000 1456.394897,206.027145 1449.284058,205.993820 C1437.745728,205.939728 1430.059204,213.129562 1430.033325,225.333420 C1429.946045,266.646240 1430.000000,307.959412 1430.000000,349.272430 C1430.000000,350.265106 1430.000000,351.257751 1430.000000,352.625214 C1415.129272,352.625214 1400.406250,352.625214 1385.000000,352.625214 C1385.000000,351.193481 1385.000000,349.604065 1385.000000,348.014679 C1385.000000,307.367981 1384.984253,266.721252 1385.042358,226.074646 C1385.045532,223.812988 1385.659424,221.552200 1385.993896,218.828796 z"
            ></path><path
              class="ccustom"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M1498.000000,233.000000 C1498.000000,210.211899 1498.000000,187.923782 1498.000000,165.318329 C1512.647827,165.318329 1527.030762,165.318329 1541.708008,165.318329 C1541.708008,227.668152 1541.708008,290.015350 1541.708008,352.681488 C1527.352539,352.681488 1512.969604,352.681488 1498.000000,352.681488 C1498.000000,312.954193 1498.000000,273.227081 1498.000000,233.000000 z"
            ></path><path
              class="ccustom"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M1528.989990,80.000000 C1533.455322,80.000000 1537.422241,80.000000 1541.691650,80.000000 C1541.691650,98.314713 1541.691650,116.343605 1541.691650,134.687103 C1527.355835,134.687103 1512.987061,134.687103 1498.308105,134.687103 C1498.308105,116.684921 1498.308105,98.656036 1498.308105,80.000000 C1508.342529,80.000000 1518.417114,80.000000 1528.989990,80.000000 z"
            ></path><path
              class="ccustom"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M1672.237061,330.732208 C1659.877319,313.703827 1647.772461,296.938751 1635.669678,280.172089 C1634.059082,277.940735 1632.460083,275.700836 1630.268188,272.645844 C1630.268188,299.783203 1630.268188,326.074615 1630.268188,352.681396 C1615.012695,352.681396 1600.290039,352.681396 1585.282471,352.681396 C1585.282471,261.958130 1585.282471,171.256882 1585.282471,80.277679 C1600.071167,80.277679 1614.793457,80.277679 1630.002441,80.277679 C1630.002441,132.419144 1630.002441,184.418365 1630.002441,237.631668 C1641.888428,222.625046 1652.823730,208.459442 1664.171265,194.632050 C1670.586426,186.814865 1676.940186,178.634995 1684.729736,172.369080 C1689.804565,168.286896 1697.272949,165.981232 1703.913696,165.314026 C1715.082520,164.191879 1726.446045,165.006714 1739.021118,165.006714 C1736.708862,168.316360 1735.119141,170.822220 1733.304199,173.152756 C1721.362305,188.486526 1709.376831,203.786285 1697.395752,219.089615 C1688.938354,229.892303 1680.559937,240.759705 1671.915649,251.410995 C1670.301880,253.399414 1670.473145,254.524719 1671.774048,256.299225 C1692.672607,284.805939 1713.526733,313.345184 1734.420410,341.855469 C1736.914062,345.258270 1739.579224,348.535309 1742.656250,352.504242 C1740.749634,352.724548 1739.558350,352.977264 1738.366333,352.981628 C1729.203369,353.014923 1720.029907,352.720886 1710.879517,353.060913 C1694.270996,353.677979 1682.421875,346.101135 1673.815918,332.483490 C1673.466064,331.929718 1672.937866,331.488617 1672.237061,330.732208 z"
            ></path><path
            class="ccustom"
            fill="#48CED8"
            
            d="M1864.054688,246.894745 
	C1867.983032,252.136185 1871.911255,257.377686 1876.270020,263.193634 
	C1869.874023,271.433075 1863.361572,279.822601 1856.382446,288.080994 
	C1853.521484,287.633331 1851.135742,287.199097 1848.731201,287.022186 
	C1841.361938,286.479889 1834.718140,284.058228 1832.237427,276.660797 
	C1830.019409,270.045898 1829.354858,262.910034 1828.313232,255.850464 
	C1836.593628,250.408554 1845.400757,248.060364 1854.926880,247.947968 
	C1857.973145,247.912018 1861.012329,247.263184 1864.054688,246.894745 
z"
          ></path>
          <path
            class="ccustom"
            fill="#40C4DE"
            
            d="M1863.905762,246.587952 
	C1861.012329,247.263184 1857.973145,247.912018 1854.926880,247.947968 
	C1845.400757,248.060364 1836.593628,250.408554 1828.019775,255.710159 
	C1825.945312,254.813858 1824.472656,253.904312 1823.000244,252.594116 
	C1824.000244,248.460876 1825.000122,244.728302 1826.360352,240.960785 
	C1834.850952,236.933090 1842.981079,232.940323 1851.111328,228.947571 
	C1855.326538,234.725418 1859.541748,240.503265 1863.905762,246.587952 
z"
          ></path>
          <path
            class="ccustom"
            fill="#51C5CE"
            
            d="M1823.000000,252.994781 
	C1824.472656,253.904312 1825.945312,254.813858 1827.711426,255.863708 
	C1829.354858,262.910034 1830.019409,270.045898 1832.237427,276.660797 
	C1834.718140,284.058228 1841.361938,286.479889 1848.731201,287.022186 
	C1851.135742,287.199097 1853.521484,287.633331 1856.163330,288.364319 
	C1854.490356,291.114319 1852.569824,293.449921 1850.106201,295.645691 
	C1843.665405,292.842102 1836.932251,291.199066 1832.094604,287.239868 
	C1826.796875,282.904083 1823.249512,276.429504 1818.939453,270.887024 
	C1824.513672,265.804718 1821.821289,261.269897 1818.159912,256.177338 
	C1819.875000,254.695160 1821.437500,253.844971 1823.000000,252.994781 
z"
          ></path>
          <path
            class="ccustom"
            fill="#F7460F"
            
            d="M1806.104126,349.039886 
	C1801.686890,350.354980 1797.269653,351.670105 1792.382812,352.574615 
	C1788.784180,349.369385 1786.045532,345.813141 1782.433228,343.961884 
	C1777.251831,341.306519 1771.433228,339.894806 1765.886597,337.952148 
	C1767.959717,335.162140 1770.032715,332.372101 1772.550049,329.726685 
	C1775.198242,330.895660 1777.305664,332.358429 1779.623047,332.869263 
	C1790.344604,335.232758 1799.567017,339.895691 1806.104126,349.039886 
z"
          ></path>
          <path
            class="ccustom"
            fill="#959685"
            
            d="M1796.872803,298.940979 
	C1798.692749,296.358612 1800.512695,293.776245 1802.823853,291.321838 
	C1814.237183,298.978455 1825.159302,306.507111 1836.081543,314.035797 
	C1834.281372,316.591217 1832.481079,319.146637 1830.030151,321.804688 
	C1823.659546,317.668488 1818.006592,313.335022 1812.198975,309.219849 
	C1807.181519,305.664673 1801.988281,302.357697 1796.872803,298.940979 
z"
          ></path>
          <path
            class="ccustom"
            fill="#39B3E4"
            
            d="M1850.956787,228.637756 
	C1842.981079,232.940323 1834.850952,236.933090 1826.203491,240.646942 
	C1824.457520,237.245773 1823.228760,234.123505 1822.145264,230.700012 
	C1828.565308,225.247299 1834.840332,220.095810 1841.115234,214.944305 
	C1844.344238,219.405502 1847.573242,223.866730 1850.956787,228.637756 
z"
          ></path>
          <path
            class="ccustom"
            fill="#2366F2"
            clip-rule="evenodd"
            d="M1801.989380,167.160278 
	C1808.716553,169.289200 1812.241211,174.856873 1815.878540,180.866074 
	C1814.180176,184.362457 1812.585938,187.184616 1810.642578,190.040405 
	C1805.528931,193.048523 1800.764404,196.023026 1795.990723,198.582672 
	C1795.654175,194.778961 1795.327026,191.390091 1795.036621,187.640198 
	C1797.378662,180.572876 1799.683960,173.866577 1801.989380,167.160278 
z"
          ></path>
          <path
            class="ccustom"
            fill="#2045F3" 
            
            d="M1777.993408,165.162872 
	C1781.357910,165.116333 1784.722534,165.069794 1788.542725,165.505585 
	C1788.004272,170.315262 1787.578125,174.881760 1785.881104,178.913284 
	C1783.400635,184.805923 1780.008423,190.314743 1776.729004,196.117493 
	C1775.956299,196.869675 1775.459473,197.491486 1774.962646,198.113281 
	C1771.976196,194.012650 1768.989746,189.912003 1766.162842,185.174438 
	C1772.851074,179.668564 1777.630127,173.745728 1777.993408,165.162872 
z"
          ></path>
          <path
            class="ccustom"
            fill="#35A0E6"
            
            d="M1840.959473,214.636932 
	C1834.840332,220.095810 1828.565308,225.247299 1821.720459,230.700928 
	C1817.104614,231.332062 1813.058716,231.661072 1809.048096,231.621338 
	C1810.390381,227.501114 1811.697632,223.749634 1813.372559,219.994812 
	C1820.303345,214.713547 1826.866455,209.435638 1833.429565,204.157761 
	C1835.887573,207.548355 1838.345581,210.938950 1840.959473,214.636932 
z"
          ></path>
          <path
            class="ccustom"
            fill="#BC795A"
            clip-rule="evenodd"
            d="M1796.578125,299.100281 
	C1801.988281,302.357697 1807.181519,305.664673 1812.198975,309.219849 
	C1818.006592,313.335022 1823.659546,317.668488 1829.735718,321.965881 
	C1828.294800,324.271179 1826.497681,326.517883 1824.084717,328.755829 
	C1813.625122,319.621033 1802.257935,312.955414 1789.867920,307.941833 
	C1792.006470,305.047729 1794.144897,302.153625 1796.578125,299.100281 
z"
          ></path>
          <path
            class="ccustom"
            fill="#2152F2"
            clip-rule="evenodd"
            d="M1777.004883,195.987183 
	C1780.008423,190.314743 1783.400635,184.805923 1785.881104,178.913284 
	C1787.578125,174.881760 1788.004272,170.315262 1788.996338,165.573975 
	C1793.089478,165.707947 1797.184937,166.255859 1801.634766,166.982025 
	C1799.683960,173.866577 1797.378662,180.572876 1794.679810,187.675079 
	C1788.525757,190.709717 1782.765381,193.348450 1777.004883,195.987183 
z"
          ></path>
          <path
            class="ccustom"
            fill="#FC3C04"
            
            d="M1765.580688,338.105957 
	C1771.433228,339.894806 1777.251831,341.306519 1782.433228,343.961884 
	C1786.045532,345.813141 1788.784180,349.369385 1791.952393,352.497894 
	C1779.783569,352.831787 1767.575439,352.831787 1754.477539,352.831787 
	C1758.312500,347.656036 1761.793701,342.957886 1765.580688,338.105957 
z"
          ></path>
          <path
            class="ccustom"
            fill="#43ABD8"
            
            d="M1809.012939,231.990051 
	C1813.058716,231.661072 1817.104614,231.332062 1821.575195,231.002151 
	C1823.228760,234.123505 1824.457520,237.245773 1825.843140,240.681870 
	C1825.000122,244.728302 1824.000244,248.460876 1823.000244,252.594116 
	C1821.437500,253.844971 1819.875000,254.695160 1818.131836,255.823624 
	C1813.297852,249.988693 1808.644653,243.875473 1804.249878,237.266281 
	C1806.009766,235.176880 1807.511353,233.583466 1809.012939,231.990051 
z"
          ></path>
          <path
            class="ccustom"
            fill="#2E72E8"
            
            d="M1796.000000,198.997543 
	C1800.764404,196.023026 1805.528931,193.048523 1810.639526,190.423981 
	C1808.323853,198.179611 1805.661987,205.585266 1802.847168,213.297165 
	C1799.117188,216.107407 1795.539917,218.611404 1791.962769,221.115417 
	C1789.640259,217.993973 1787.317627,214.872543 1785.299316,211.354706 
	C1789.069092,206.971375 1792.534546,202.984467 1796.000000,198.997543 
z"
          ></path>
          <path
            class="ccustom"
            fill="#1F37F0"
            clip-rule="evenodd"
            d="M1777.529663,165.094238 
	C1777.630127,173.745728 1772.851074,179.668564 1766.138672,184.820602 
	C1760.928955,178.643143 1755.903076,172.182587 1750.335449,165.025589 
	C1760.117798,165.025589 1768.591797,165.025589 1777.529663,165.094238 
z"
          ></path>
          <path
            class="ccustom"
            fill="#297FEE"
            
            d="M1803.000000,212.990906 
	C1805.661987,205.585266 1808.323853,198.179611 1810.988770,190.390366 
	C1812.585938,187.184616 1814.180176,184.362457 1815.916016,181.216492 
	C1819.370605,185.343796 1822.683350,189.794891 1825.744995,194.742218 
	C1819.997437,201.158310 1814.501099,207.078186 1808.576050,212.998596 
	C1806.431519,212.996399 1804.715698,212.993637 1803.000000,212.990906 
z"
          ></path>
          <path
            class="ccustom"
            fill="#F0501C"
            
            d="M1806.448975,349.019714 
	C1799.567017,339.895691 1790.344604,335.232758 1779.623047,332.869263 
	C1777.305664,332.358429 1775.198242,330.895660 1772.829834,329.484619 
	C1773.877808,327.476562 1775.090088,325.855194 1776.934570,324.237854 
	C1778.449951,324.685669 1779.298218,325.225098 1780.220947,325.558899 
	C1792.011230,329.823761 1804.812866,332.174286 1813.100830,343.029907 
	C1810.998413,345.019775 1808.896118,347.009644 1806.448975,349.019714 
z"
          ></path>
          <path
            class="ccustom"
            fill="#3989DE"
            
            d="M1802.847168,213.297150 
	C1804.715698,212.993637 1806.431519,212.996399 1808.608521,213.349884 
	C1810.381592,215.799805 1811.693237,217.898987 1813.004883,219.998154 
	C1811.697632,223.749634 1810.390381,227.501114 1809.048096,231.621323 
	C1807.511353,233.583466 1806.009766,235.176880 1804.208130,236.913452 
	C1800.014893,231.952316 1796.121826,226.848022 1792.095703,221.429565 
	C1795.539917,218.611404 1799.117188,216.107407 1802.847168,213.297150 
z"
          ></path>
          <path
            class="ccustom"
            fill="#2E90EB"
            
            d="M1813.372559,219.994812 
	C1811.693237,217.898987 1810.381592,215.799805 1809.037354,213.349350 
	C1814.501099,207.078186 1819.997437,201.158310 1825.804443,195.095612 
	C1828.431763,197.853806 1830.748413,200.754822 1833.247314,203.906799 
	C1826.866455,209.435638 1820.303345,214.713547 1813.372559,219.994812 
z"
          ></path>
          <path
            class="ccustom"
            fill="#E4592A"
            
            d="M1813.406250,342.906433 
	C1804.812866,332.174286 1792.011230,329.823761 1780.220947,325.558899 
	C1779.298218,325.225098 1778.449951,324.685669 1777.223022,324.091736 
	C1778.696655,321.687927 1780.514282,319.434265 1782.793457,317.356262 
	C1784.427002,318.379974 1785.481079,319.567291 1786.789795,320.022827 
	C1798.128540,323.969177 1809.019409,328.618195 1817.101562,338.028687 
	C1815.971680,339.613464 1814.841675,341.198212 1813.406250,342.906433 
z"
          ></path>
          <path
            class="ccustom"
            fill="#2A5DE9"
            
            d="M1795.990723,198.582703 
	C1792.534546,202.984467 1789.069092,206.971375 1785.252197,211.000992 
	C1781.674927,206.943329 1778.449219,202.842972 1775.093018,198.427948 
	C1775.459473,197.491486 1775.956299,196.869675 1776.729004,196.117523 
	C1782.765381,193.348450 1788.525757,190.709717 1794.643066,188.036102 
	C1795.327026,191.390091 1795.654175,194.778961 1795.990723,198.582703 
z"
          ></path>
          <path
            class="ccustom"
            fill="#5FBDBF"
            
            d="M1818.640259,271.037628 
	C1823.249512,276.429504 1826.796875,282.904083 1832.094604,287.239868 
	C1836.932251,291.199066 1843.665405,292.842102 1849.802979,295.797180 
	C1848.922119,297.645020 1847.801392,299.201538 1846.009766,300.847137 
	C1832.457275,296.077057 1821.720093,288.405731 1813.875000,276.942078 
	C1815.363770,275.024139 1816.852417,273.106171 1818.640259,271.037628 
z"
          ></path>
          <path
            class="ccustom"
            fill="#D6653C"
            clip-rule="evenodd"
            d="M1817.406250,337.904846 
	C1809.019409,328.618195 1798.128540,323.969177 1786.789795,320.022827 
	C1785.481079,319.567291 1784.427002,318.379974 1783.098877,317.209473 
	C1783.720947,315.665558 1784.499023,314.444092 1785.950439,313.133514 
	C1789.219238,314.043274 1791.850586,314.958496 1794.403687,316.055756 
	C1804.212646,320.271698 1813.382202,325.510773 1821.095459,333.030304 
	C1819.967285,334.613892 1818.838989,336.197479 1817.406250,337.904846 
z"
          ></path>
          <path
            class="ccustom"
            fill="#7AAAA2"
            
            d="M1842.048096,306.078064 
	C1840.914795,307.648499 1839.781494,309.218933 1838.195068,310.625488 
	C1827.117554,302.621246 1816.493408,294.780884 1805.869141,286.940552 
	C1807.028931,285.354675 1808.188599,283.768829 1809.828247,282.314606 
	C1816.180908,287.442596 1821.861328,292.692352 1827.991821,297.349731 
	C1832.364014,300.671417 1837.341064,303.197144 1842.048096,306.078064 
z"
          ></path></path>
          <path
            class="ccustom"
            fill="#C8704C"
            
            d="M1821.394531,332.906525 
	C1813.382202,325.510773 1804.212646,320.271698 1794.403687,316.055756 
	C1791.850586,314.958496 1789.219238,314.043274 1786.243774,312.994995 
	C1787.000000,311.372559 1788.136475,309.799530 1789.570435,308.084167 
	C1802.257935,312.955414 1813.625122,319.621033 1823.778320,328.891602 
	C1823.289673,330.285004 1822.491577,331.533875 1821.394531,332.906525 
z"
          ></path></path>
          <path
            class="ccustom"
            fill="#6CB4B1"
            
            d="M1842.345947,305.933594 
	C1837.341064,303.197144 1832.364014,300.671417 1827.991821,297.349731 
	C1821.861328,292.692352 1816.180908,287.442596 1810.123779,282.160614 
	C1811.058105,280.327301 1812.176758,278.779602 1813.585205,277.086975 
	C1821.720093,288.405731 1832.457275,296.077057 1845.715332,300.986725 
	C1844.942627,302.621185 1843.793213,304.205170 1842.345947,305.933594 
z"
          ></path></path>
          <path
            class="ccustom"
            fill="#87A093"
            
            d="M1805.600342,287.102386 
	C1816.493408,294.780884 1827.117554,302.621246 1837.895752,310.769714 
	C1837.586182,311.976654 1837.122803,312.875580 1836.370361,313.905151 
	C1825.159302,306.507111 1814.237183,298.978455 1803.126831,291.161499 
	C1803.736328,289.670227 1804.533936,288.467224 1805.600342,287.102386 
z">
            </path>
          </svg>
        </div>
        
      </a>
    </div>
    <div
      data-nav-overlay
      aria-hidden="true"
      class="fixed hidden inset-0 lg:!hidden bg-box-bg bg-opacity-50 backdrop-filter backdrop-blur-xl"
    >
    </div>
    <div
      data-navbar
      class="flex h-0 overflow-hidden lg:!h-auto lg:scale-y-100 duration-300 ease-linear flex-col gap-y-6 gap-x-4 lg:flex-row w-full lg:justify-between lg:items-center absolute lg:relative top-full lg:top-0 bg-body lg:bg-transparent border-x border-x-box-border lg:border-x-0"
    >
      <ul
        class="border-t border-box-border lg:border-t-0 px-6 lg:px-0 pt-6 lg:pt-0 flex flex-col lg:flex-row gap-y-4 gap-x-3 text-lg text-heading-2 w-full lg:justify-end lg:items-center"
      >
        {
          navItems.map((item) => {
            return <Navitem {...item} />;
          })
        }
      </ul>

      <div
        class="lg:min-w-max flex items-center sm:w-max w-full pb-6 lg:pb-0 border-b border-box-bg lg:border-0 px-6 lg:px-0"
      >
        
      </div>
    </div>

    <div class="min-w-max flex items-center gap-x-3">
      <!-- Theme Switch -->
      <BtnThemeSwitch variant="secondary" />

      <!-- Navbar toggle -->
      <button
      
        data-toggle-nav
        data-open-nav="false"
        class="lg:hidden lg:invisible outline-none w-7 h-auto flex flex-col relative"
      >
        <span
          id="line1"
          class="w-6 h-0.5 rounded-full bg-heading-2 transition-all duration-300 ease-linear bg-black dark:bg-white"
        ></span>
        <span
          id="line2"
          class="w-6 origin-center mt-1 h-0.5 rounded-ful bg-heading-2 transition-all duration-300 ease-linear bg-black dark:bg-white"
        ></span>
        <span
          id="line3"
          class="w-6 mt-1 h-0.5 rounded-ful bg-heading-2 transition-all duration-300 ease-linear bg-black dark:bg-white"
        ></span>
        <span class="sr-only">togglenav</span>
      </button>
    </div>
  </nav>
  <!-- </Container> -->
</header>
